
<h3>Update Theater</h3>
<div [hidden]="submitted" style="width: 400px;">
 <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">TheaterName</label>
      <input type="text" class="form-control" id="theaterName" required [(ngModel)]="Theater.theaterName" name="theaterName">
    </div>

    <div class="form-group">
      <label for="name">TheaterArea</label>
      <input type="text" class="form-control" id="theaterArea" required [(ngModel)]="Theater.theaterArea" name="theaterArea">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>